# Compiled class file
*.class
/target

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Devskiller entries
###
### Please do not add anything below this line, your changes will be overwritten
###
*.iws
*.launch
.externalToolBuilders/
.DS_Store
__MACOSX/
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
.gradle
/build


### *** required entries below ***
###
### Please do not add anything below this line, your changes will be overwritten
###
.history/
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/490Fgg6uPJedVf4qVGHhl7
!.vscode/extensions.json
*.code-workspace
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide